#start a button {
	height: 100px;
	width: 500px;
	background-color: aqua;
}
p {
	color: white;
}

h2 {
	color: white;
}

strong {
	color: white;
}

body {
	background-color: black;
}

h1 {
	color: white;
}